
.body{
  background: rgba(0,0,0,0.9);
}
#bg {
  --bs-bg-opacity: 1;
  background: rgb(207,11,31);
background: linear-gradient(90deg, rgba(207,11,31,1) 0%, rgba(253,155,29,1) 50%, rgba(242,252,69,1) 100%);
}
.burger1{
  height: 600px;
}
.card{
  max-width: 200px;
}
main{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 40%;
  transform: translate(40%,0%);
}
@media only screen and (max-width: 1000px) {
  .burger1{
    height: 500px;
  }
  .card{
    max-width: 200px;
  }
  main{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 40%;
    transform: translate(0%,0%);
  }
}
@media only screen and (max-width: 700px) {
  .burger1{
    height: 300px;
  }
  .card{
    max-width: 300px;
  }
  main{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 50%;
    transform: translate(10%,0%);
  }
}